<h1>Edit Role permission</h1>

<%= form_with model: @role_permission, local: true do |f| %>
  <div class="field">
    <%= f.label :role_id, "Role id" %>
    <%= f.text_field :role_id %>
  </div>

  <div class="field">
    <%= f.label :permission_id, "Permission id" %>
    <%= f.text_field :permission_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @role_permission %> |
<%= link_to 'Back', role_permissions_path %>
