<h1>Payment</h1>
<p>
  <strong>Id:</strong>
  <%= @payment.id %>
</p>

<p>
  <strong>Order id:</strong>
  <%= @payment.order_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @payment.currency %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Processed at:</strong>
  <%= @payment.processed_at %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
