<h1>Notification</h1>
<p>
  <strong>Id:</strong>
  <%= @notification.id %>
</p>

<p>
  <strong>User id:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @notification.channel %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @notification.payload %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @notification.created_at %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
