<h1>Feature flag</h1>
<p>
  <strong>Id:</strong>
  <%= @feature_flag.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feature_flag.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @feature_flag.enabled %>
</p>

<p>
  <strong>Rollout:</strong>
  <%= @feature_flag.rollout %>
</p>

<%= link_to 'Edit', edit_feature_flag_path(@feature_flag) %> |
<%= link_to 'Back', feature_flags_path %>
